.container {
  border-radius: 50px;
  background: linear-gradient(315deg, #e6e6e6, #ffffff);
  box-shadow: -20px -20px 60px #d9d9d9, 20px 20px 60px #ffffff;
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
}
.wrapper {
  display: flex;
  justify-content: space-around;
}
